<header>
    <div class="header">
        <!--Content before waves-->
        <div class="inner-header flex">
            <img class="logo" src="/img/logo.png" alt="PicknInkLogo" class="responsive1" >
        </div>
        
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(254,0,0,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,254,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(1,254,3,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(241,221,2,0.85)" />
                </g>
            </svg>
        </div>
        <!--Waves end-->
        
    </div>
</header>