<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/babout">Pick 'n Ink Brackenfell</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sabout">Pick 'n Ink Strand</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Knowledge Base</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Printer Repairs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Canon Drivers Download</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Brother Drivers Download</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">HP Drivers Download</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Samsung Drivers Download</a>
    </li>
</ul>